body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px 60px;
}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.header h3 {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.h-100 {
    padding: 0px 70px;
}

.main {
    background-color: rgba(255, 255, 255, 0.997);
    padding: 0;
}

.title {
    padding-top: 20px;
    color: rgb(0, 0, 143);
}

.label {
    font-size: smaller;
}

.label2 {
    margin-top: 20px;
}

input {
    height: 20px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVKJ-DZvd3HPeXDAheZP8WQQnLMh70D7Y2jw&usqp=CAU") no-repeat left;
    background-size: 30px;
}

.input-city {
    font-weight: bold;
    color: black;
    padding-left: 29px;
    font-family: Arial, FontAwesome;
    font-size: 20px;
    border: 1px solid rgb(169, 169, 169);
}

.map-icon {
    display: flex;
    position: relative;
}

.cl-button {
    margin: 10px 40px 10px 0px;
    background-color: rgb(0, 0, 143);
    padding: 14px 30px;
    font-weight: bold;
}

.distance-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(226, 226, 226);
    margin-top: 15px;
}

.text {
    display: flex;
    align-items: center;
}

.distance {
    font-size: 26px;
    color: rgb(15, 101, 222);
    font-weight: bold;
    margin-right: 5px;
}

.text-line {
    font-size: small;
    margin-left: 40px;
}

#googleMap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-data {
    margin-top: 20px;
}

@media only screen and (max-width: 565px) {
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
    }

    .title {
        color: rgb(0, 0, 143);
        font-size: 17px;
        padding-top: 20px;
    }

    input {
        min-width: fit-content;
        height: 20px;
    }

    .cl-button {
        background-color: rgb(0, 0, 143);
        padding: 11px 25px;
        font-weight: bold;
        margin: 0;

    }

    .distance-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgb(226, 226, 226);
    }

    .text {
        display: flex;
        align-items: center;
    }

    .distance {
        font-size: 19px;
        color: rgb(15, 101, 222);
        font-weight: bold;
    }

    .map-data-1 {
        margin: 0;
        height: 70%;
    }

    .map-data {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .text-line {
        font-size: small;
        margin: 0;
    }

    .h-100 {
        padding: 0px 0px;
    }

    .row {
        margin: 0;
    }
}

@media only screen and (max-width: 950px) {
    input {
        min-width: fit-content;
        height: 20px;
    }

    .h-100 {
        padding: 0px 0px;
    }

    .cl-button {
        background-color: rgb(0, 0, 143);
        padding: 11px 25px;
        font-weight: bold;
        margin: 0;
    }
}

@media only screen and (max-width: 799px) {
    .distance-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 5px;
        background-color: white;
        border-radius: 5px;
        border: 1px solid rgb(226, 226, 226);
    }

    .h-100 {
        padding: 0px 0px;
    }

    .text {
        display: flex;
        align-items: center;
    }

    .distance {
        font-size: 18px;
        display: flex;
        align-items: center;
        color: rgb(15, 101, 222);
        font-weight: bold;
    }
}